nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') YelpCamp
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if !currentUser
          li
            a(href='/login') Login
          li
            a(href='/register') Sign Up!
        else 
          li
            a(href='#')= 'Signed in as ' + currentUser.username
          li
            a(href='/logout') Logout
.container
  if (error && error.length > 0)
    .alert.alert-danger(role='alert')= error
  if (success && success.length > 0)
    .alert.alert-success(role='alert')= success
