nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') YelpCamp
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') Login
        li
          a(href='/') Register
        li
          a(href='/') Logout
