include ../partials/header.pug
body
  include ../partials/navbar.pug
  .container
    .row
      h1(style='text-align: center;') Edit Comment
      div(style='width: 30%; margin: 25px auto')
        - var postUrl = '/campgrounds/' + campground_id + '/comments/' + comment._id + '?_method=PUT'
        form(action=postUrl method='POST')
          .form-group
            input.form-control(type='text' name='comment[text]' value=comment.text autofocus)
          .form-group
            button.btn.btn-lg.btn-primary.btn-block(type='submit' name='button') Save Comment
        a(href='/campgrounds') Go Back
