doctype html
html
  head
    title YelpCamp
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/landing.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' async)
  body
    .container
      if error && error.length > 0
        .alert.alert-danger(role='alert')= error
      if success && success.length > 0
        .alert.alert-success(role='alert')= success
    .landing-header
      h1 Welcome to YelpCamp!
      a(href='/campgrounds').btn.btn-lg.btn-success View all Campgrounds
    ul.slideshow
      li
      li
      li
      li
      li
    include partials/footer
