<% include partials/header %>

<div class="container">
  <p><%= campground.name %></p>
  <img src="<%= campground.image %>" alt="<%= campground.name %>">
  <p><%= campground.description %></p>
</div>
<% include partials/footer %>
